<%= form_for([@meet, @event]) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% if @event.meet.season.season == "Outdoor" %>

  <div class="field">
    <%= f.label :outdoor_event %><br>
    <%= f.select :name, [['100m'],['200m'],['400m'],['800m'],['1500m'],['3000m Steeple'],['5000m'],['10,000m'],['100mH'],['110mH'],['400mH'],['4x100m Relay'],['4x400m Relay'],['Long Jump'],['Triple Jump'],['High Jump'],['Pole Vault'],['Discus Throw'],['Hammer Throw'],['Javelin Throw'],['Shot Put']], :include_blank => true %>
  <br><br>
  </div>
  <div class="field">
   <%= f.label :result %><br>
   <%= f.text_field :results %>
  </div>
<!-- Add a field event and a track event to the model, as well as results for each -->
<% else %>
  <div class="field">
    <%= f.label :indoor_event %><br>
    <%= f.select :name, [['50m'],['55m'],['60m'],['50mH'],['55mH'],['60mH'],['200m'],['400m'],['800m'],['1500m'],['3000m'],['5000m'],['4x100m Relay'],['4x400m Relay'],['Long Jump'],['Triple Jump'],['High Jump'],['Pole Vault'],['Shot Put'],['Weight Throw']] , :include_blank => true %>
<br><br>
  </div>
  <div class="field">
   <%= f.label :result %><br>
   <%= f.text_field :results %>
  </div>

<% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


