<h1><center><%=@meet.name %> Results</center></h1>
<% if @meet.season.user != current_user%>
<p><center>Belongs to <%= @meet.season.user.fname %> <%= @meet.season.user.lname %></center></p>
<% end %>
<% if @meet.season.user == current_user %>
<% if @my_events[0] == nil %>
You have no events! Add one<br>
<%= link_to 'New Event', new_meet_event_path, class: 'btn btn-primary btn-sm btn-block' %><br><br>
<% else %>
<%= link_to 'New Event', new_meet_event_path, class: 'btn btn-primary btn-sm btn-block' %><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Results</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_events.each do |event| %>
      <tr>
        <td>
		<%= link_to event.name, test_path(:param1 => "#{event.name}")  %>
	</td>
        <td><%= event.results %></td>
	<td colspan="1"><a class="twitter-share-button"
		href="https://twitter.com/share" 
		data-url="none"
		data-count="none"
		data-text="<%= event.name + " - " + event.results + " @ " + @meet.name %>">
		Tweet</a>
	</td>
	<% if event.meet.season.user == current_user %>
        <td><%= link_to edit_event_path(event), class: 'btn btn-warning btn-sm' do %>
		<span class="glyphicon glyphicon-pencil"></span>
	   <% end %>
	</td>
        <td><%= link_to event, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } do %>
		<span class="glyphicon glyphicon-trash"></span>
	    <% end %>
	</td>
	<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>
<%# end %>

<% end %>


<script>
window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
</script>

