<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Results:</strong>
  <%= @event.results %>
</p>

<p>
  <strong>Meet:</strong>
  <%= @event.meet %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
