<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Track!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

 
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'shared/navigation' %>
<div id="main-container" class="container-fluid">
 <div class="jumbotron" id="jumbo">
	<p class="notice"><%= notice %></p>
<% if user_signed_in? %>
Hello <%= current_user.fname %> <%=current_user.lname%>! Not you?
<%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>
	<%= yield %>
  <div class="clearfix visible-lg"></div>
 </div>
</div>
</body>
</html>
