<%= form_for([@season, @meet]) do |f| %>
  <% if @meet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meet.errors.count, "error") %> prohibited this meet from being saved:</h2>

      <ul>
      <% @meet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date, start_year: Time.now.year, end_year: Time.now.year - 10, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, class:"form-control" %>
  </div>
  <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        Submit
  <% end %>
<% end %>
