<p id="notice"><%= notice %></p>

<p>
  <strong><%= @note.title %></strong>
</p>

<p>
  <%= simple_format(@note.input) %>
</p>


<%= link_to edit_note_path(@note) do %>
<% content_tag :span, 'Edit', :class => 'glyphicon glyphicon-cog btn btn-warning' %>
<% end %>
<%= '  ' %>
<%= link_to notes_path do %>
<% content_tag :span, 'Back', class: 'glyphicon glyphicon-arrow-left btn btn-info' %>
<% end %>
