<%= form_for(@season) do |f| %>
  <% if @season.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@season.errors.count, "error") %> prohibited this season from being saved:</h2>

      <ul>
      <% @season.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :season %><br>
    <%= f.select :season, [['Indoor','Indoor'],['Outdoor','Outdoor']], class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :year %><br>
    <%= select_year Date.today, start_year: Time.now.year, end_year: Time.now.year - 30, field_name: :year, prefix: :season, class: "form-control" %>
  </div>
  <%= button_tag(type: 'submit', class:"btn btn-success") do %>
	Submit
  <% end %>
<br>
<% end %>
