<h1><center>All Results</center></h1>
<% time = Time.now %>
<div class="table-responsive">
 <h4><%= time.year%>'s Results</h4>
 <table class="table table-striped table-bordered">
  <thead>
   <tr><th>Event</th><th>Result</th></tr>
  </thead> 
  <tbody>
     <% @user.seasons.each do |season| %>
	<% season.meets.each do |meet| %>
		<% meet.events.each do |event| %>
		<% if time.year == season.year.to_i %>
		  <tr>
			<td><%= link_to event.name, test_path(param1: "#{event.name}") %></td>
			<td><%= event.results %></td>
			<td><%= link_to "#{season.season}",season_meets_path(season) %></td>
			<td><%= link_to meet.name, meet_events_path(meet) %></td>
		  </tr>
                <% end %>
		<% end %>
	<% end %>
     <% end %>
  </tbody>
 </table>
</div>
<div class="table-responsive">
  <h4>Past Results</h4>
  <table class="table table-striped table-bordered">
   <thead>
    <tr><th>Event</th><th>Result</th></tr>
   </thead>
   <tbody>
    <% @user.seasons.each do |season| %>
     <% season.meets.each do |meet| %>
      <% meet.events.each do |event| %>
    <% if time.year != season.year.to_i %> 
       <tr>
	 <td><%= link_to event.name, test_path(param1: "#{event.name}") %></td>
	 <td><%= event.results %></td>
	 <td><%= link_to "#{season.season} #{season.year}",season_meets_path(season)  %></td>
	 <td><%= link_to meet.name, meet_events_path(meet) %></td>
       </tr>
    <% end %>
      <% end %>
     <% end %>
    <% end %>
   </tbody>
  </table>
</div>
