<h1><center>Seasons</center></h1>
<% if user_signed_in? %>
  <% if @my_season[0] == nil %>
    <br>
    You have no seasons! 
    <%= link_to 'New Season', new_season_path, class: 'btn btn-primary btn-sm btn-block' %>
  <% else %>
    <br>
    <%= link_to 'New Season', new_season_path, class: 'btn btn-primary btn-sm btn-block' %>
<div class="table-responsive">
<table class="table">
  <thead>
    <tr>
      <th>My Season's</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_season.each do |season| %>
      <tr>
	<td><%= link_to season_meets_path(season), class: 'btn btn-success' do%>
		<%= season.season %> <%=season.year %>
	    <% end %>
        </td>
        <% link_to 'Show', season %>
        <td><%= link_to edit_season_path(season), class: 'btn btn-warning btn-sm' do %>
		<span class="glyphicon glyphicon-pencil"></span>
	   <% end %>
	</td>
        <td><%= link_to season, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } do %>
		<span class="glyphicon glyphicon-trash"></span>
	   <% end%>
	</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
    <%end %>

<%end %>
<br>

